/* need html ja body, et saaks kõik ülevalt alla järjest */
html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* emoji pmst kontrollib teksti hetkel tekst pole keskel ning see animation-name annab sellele tekstile animatsiooni */
#emoji {
    position: relative;
    margin: auto;
    top : 45%;
    z-index: 1;
    color: white;
    font-size: 4em;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

div {
    align-items: center;
}

/* see paneb teksti pöörlema */
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
/* see paneb teksti pöörlema */
@keyframes rotate2 {
    100% {
        transform: rotate(-360deg);
    }
}

#emoji2 {
    position: relative;
    top: 40%;
    margin: auto;
    z-index: 1;
    color: white;
    font-size: 4em;
    animation-name: rotate2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


#vasak {
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 40%;
    background-color: black; 
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;
    border-radius: 0;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#vasak:hover {
    background-color: #FC766AFF;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#parem {
    position: fixed;
    z-index: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 43%;
    background-color: black; 
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;
    border-radius: 0;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#parem:hover {
    background-color: #5B84B1FF;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}