*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
html{
    
    height: 100%;
    overflow: auto;
}

iframe {
    display: block;
    margin: 0 auto;
  }

body {
    height: 100%;
    overflow: auto;
    background-size: auto;
    background-position: center;  
}

.tortilla {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://th.bing.com/th/id/R.9395c37355cde9ebb47d8a7807e33917?rik=viymrzyE3aG4aQ&riu=http%3a%2f%2fprod.static9.net.au%2f_%2fmedia%2fNetwork%2fImages%2fSandwich-wraps-160455.jpg&ehk=r%2bWy%2blppCMtOfB%2b6GqZg8gsco1anWGUGtWO5NQjX9Xk%3d&risl=&pid=ImgRaw&r=0);
    background-size: 1920px 1080px;
}

.pasta {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://images.squarespace-cdn.com/content/v1/53a60116e4b0488fb14d69d8/1476683084094-HDVR9G9OBIZZTY5P2NKH/Gluten-Free+Spaghetti+Bolognese+%7C+Living+Minnaly?format=1500w);
    background-size: 1920px 1080px;
}

section {
   position: relative;
}

nav {
    height: 8%;
}

.navbar{
    width: 100%;
    padding: 30px;
    position: fixed;
    align-items: center;
    margin: auto;
    z-index: 1;
}


.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: sticky;

}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content:'';
    height: 3px;
    width: 0;
    background: #ffcbdb;
    position: sticky;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    
}

.navbar ul li:hover:after{
    width: 100%;
}
#list{
    letter-spacing: 5px;
    line-height: 2;
    font-size: 1em;
}

.sisu{
    width: 100%; 
    text-align: center;
    color: #fff;
}
.sisu h1{
    font-size: 4em;
}
.sisu p{
    margin: 20px auto;
    font-weight: 100;
    font-size: 1em;
    line-height: 25px;
}

.alumine {
    width: 60%;
    font-size: 1em;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    background: transparent;
    color: #fff;
    position: relative;
    overflow: hidden;
}

span {
    background: #b76e79;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover {
    border: none;
}