*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
html{
    
    height: 100%;
    overflow: auto;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://images.unsplash.com/photo-1572441713132-c542fc4fe282?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80);
    height: 100%;
    overflow: auto;
    background-size: fill;
    background-position: center; 
}
section {
   position: relative;
}

nav {
    height: 8%;
}

.navbar{
    width: 100%;
    padding: 30px;
    position: fixed;
    align-items: center;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}


.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: sticky;

}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content:'';
    height: 3px;
    width: 0;
    background: #ffcbdb;
    position: sticky;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    
}

.navbar ul li:hover:after{
    width: 100%;
}
#list{
    letter-spacing: 5px;
    line-height: 2;
}

.sisu{
    width: 100%; 
    text-align: center;
    color: #fff;
}
.sisu h1{
    font-size: 50px;
}
.sisu p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.alumine {
    width: 300px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #b76e79;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover {
    border: none;
}